.mydialog{
		position:fixed;
		top: 0;
		height:100%;
		width: 100%;
		z-index: 10;
		.mengceng{
			position: absolute;
			height:100%;
			width: 100%;
			background: #656565;
			opacity:.5;
		}
   	.dialogoo{
			position: relative;
			width: 80%;
			margin: 10rem auto;
			background: #fff;
			z-index: 11;
			border-radius: 1rem;
			.dec{
				flex: 1;
				text-align:center;
				padding: 2rem 0;
			}
			.butt{
				border-top: 0.1rem solid #ececec;
				height: 4.5rem;
				line-height: 4.5rem;
				button{
					width: 50%;
					height: 100%;
					float: left;
					background: none;
					&.confirmed{
						color: #ff4b6d;
					}
					&:first-child{
						border-right: 1px solid #ececec;
					}
				}
			}
		}
}
